#main{
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: .4s ease-out 0, 1s;

}

#background{

    width:30%;
    height:100%;
   
    position:fixed;
    
   background-image: url(./images/HeroImage.gif);
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   z-index:-2;

}
#left{
    width:30%;
    height:auto;
}
#container{
    box-sizing: border-box;
    margin: auto;
    width:72%;
    
    height: 90%;
    float:right;
    z-index:5;
    border-right: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}

#header
{
    margin:2.5rem;
    margin-left:4rem;
   
    position: absolute;
    
    height:10vh;
    color:black;

}
::-webkit-scrollbar {
    display: none;
}